
body{background-color: #000;
color:white;}

label {
    color:white; 
}


input[type="text"],
input[type="email"],
input[type="password"] {
    border: 0px transparent; 
}

button {
    background-color:  #fff; 
}

button {
    color: black; 
}


button:hover {
    background-color: #0056b3; 
}
.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
  }
  
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 1.1rem;
    padding: 5px 3px;
}

::placeholder {
    color: white;
}
.message-error {
    color: red;
}
.message-success {
    color: green;
}
  
button {
    margin-top: 15px;
    width: 100px;
    padding: 7px 10px;
}

.link{
    text-decoration: none;
    color: white;
}

.profile{
    margin-top: 8vh;
    margin-left: 2vw;
}

.message-wrap{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}

.header-container {
    margin: 20px;
}

.header {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.top-right-btn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-right-btn:hover {
    background-color: black;
    color: white;
}
 
.spacer {
    margin-top: 24px;
}






